.Feature3-light {
  text-align: center;
  background: linear-gradient(120deg, #f2f2f2, #f2f2f2, #f2f2f2);
  width: 90vh;
  height: 70vh;
  margin-top: 40px;
  padding: 20px;
  margin: 20px auto;
  border-radius: 20px;
  /* float: left;
  position: relative;
  left: 50% */
}

.Feature3-dark {
  text-align: center;
  background: linear-gradient(120deg, #3a3d3a, #3a3d3a, #3a3d3a);
  width: 90vh;
  height: 70vh;
  margin-top: 40px;
  padding: 20px;
  margin: 20px auto;
  border-radius: 20px;
  color: ivory;

  .input-field-3 {
    background-color: rgb(200, 200, 200);
    border-color: transparent;
  }
}

.input-label-3 {
  font-size: 2.25vh;
  float: left;
  margin-left: 42.5%;
  margin-bottom: 3vh;
}

.input-field-3 {
  font-size: 2vh;
  height: 2.25vh;
  float: left;
  margin-left: 12.5%;
  width: 50%;
  margin-bottom: 3vh;
}

#innerDiv3 {
  margin: 20px 0 40px 0;
}

#innerLabelsDiv3 {
  width: 50%;
  float: left;
  margin-bottom: 4vh;
}

#innerInputsDiv3 {
  width: 50%;
  float: left;
  margin-bottom: 4vh;
}

#buttonDiv3 {
  clear: both;
  width: 100%;
  text-align: center;
}
